/*
Theme Name: Westbourne Village Store.
Theme URI: Your Theme's URI
Description: A brief description. Very brief.
Version: 1.0
Author: Bradley Jordan
Author URI:.
*/

@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 650px) {
    iframe {
        display: none;
    }
}
.logo {
    height: 96px;
}
.quickContact {
    background: #801515;
    color: #fff;
    padding: 0;
}
@media screen and (max-width: 1200px) {
    .quickContact {
        display: none;
    }
}
.quickContact p {
    padding: 2px;
    margin: 0;
}
.navbar-brand {
    height: auto;
}
.nav {
    border-radius: 0;
    margin: 0;
    color: #fff;
}
.nav li a {
    font-size: 16px;
    text-transform: uppercase;
}
.nav li a:hover {}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar {
    margin: 0;
    background: #AA3939;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 3px 11px -3px rgba(0, 0, 0, 0.55);
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /* background: $BaseColour; */
    color: #DBDCE8;
}
.menu-menu-container ul li {
    display: block;
    list-style: none;
    float: left;
    margin: 20px;
    color: #fff;
    padding: 16px;
}
.menu-menu-container ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.menu-menu-container ul li a:hover {
    color: #DBDCE8;
}
.about {
    background: #E0E0E0;
}
.about-message {
    height: auto;
}
.about-page {
    height: 400px;
    background: #fff;
    margin: 20px 0;
    border-bottom: 5px solid #AA3939;
}
hr {
    border-top: 3px solid white;
    margin: 10px 0;
}
.footer {
    background: #AA3939;
    border-top: 2px solid #801515;
    margin-top: 20px;
    padding: 20px;
}
@media screen and (max-width: 975px) {
    .footer-hide {
        display: none;
    }
}
.footer-list {
    padding: 10px;
}
.footer-list .contact {
    color: #fff;
}
.footer-list .title {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.footer-list li {
    list-style: none;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 5px;
}
.footer-list li a {
    color: inherit;
}
.navbar-nav > li > a {
    padding: 35px;
}
.about-message img {
    width: 100%;
    height: 100%;
}
.deals, .services {
    margin: 20px 0;
    text-align: center;
}
.deals-message, .services-message {
    text-align: center;
}
.deals-message h1, .services-message h1 {
    color: #e8a83b;
}
.deals-message hr, .services-message hr {
    border-color: #E4E4E4;
}
.breaker {
    border-color: #E4E4E4;
}
@media screen and (max-width: 975px) {
    .service-hide {
        display: none;
    }
}
.services-message h1 {
    color: #222;
}
.services-all-item {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 5px solid #E4E4E4;
}
.services-all-item:hover {
    border-bottom: 5px solid #801515;
}
.service-item {
    height: 100px;
    box-sizing: border-box;
}
.service-item p {
    display: inline-block;
}
.service-item img {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.Location {
    margin: 20px 0;
}
.Location-message {
    text-align: center;
}
.Location-message a {
    color: #222;
}
.testimonials {
    font-size: 18px;
}
.testimonials h1 {
    text-align: center;
}
.testimonials-feedback {
    height: auto;
    background: #fff;
    padding: 20px;
}
.ourrole-message {
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-top: 5px solid #801515;
    border-bottom: 5px solid #801515;
}
.gallery-title {
    text-align: center;
}
.text-center {
    text-align: center;
    margin-bottom: 1em;
}
.gallery ul {
    list-style: none;
    padding: 0;
}
.gallery li {
    display: inline-block;
    float: left;
    width: 28.3333%;
    margin: 2.5%;
    position: relative;
    font-size: 0;
    transition: .25s box-shadow ease-in-out .1s;
}
@media only screen and (max-width: 680px) {
    .gallery li {
        width: 45%;
    }
    .lightbox img {
        margin-top: 5%;
    }
}
@media only screen and (max-width: 480px) {
    .gallery li {
        width: 100%;
        margin: 2% 0;
    }
}
.gallery li:hover {
    box-shadow: 0 0 15px #4e5d6a;
}
.gallery img {
    width: 100%;
}

.sitemap .menu-menu-container ul li {
    display: block;
    list-style: none;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    float: none;
}
.footer-list .menu {
    padding: 0;
}
.sitemap .menu-menu-container ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.sitemap .menu-menu-container ul li a:hover {
    color: inherit;
}


.category-services{
  display:table;
  margin: auto;
}

.category-services img{
  margin: 0 20px;
}
